div(id="banner")
            nav
                a(href="index.html")
                    img(src="imgs/LOGO.png", alt="狸小路 LOGO" class="logo")
                div(class="link")
                    a(href="new.html") 最新消息
                    a(href="product.html") 產品介紹
                    a(href="contact.html") 聯絡我們