div(id="banner")
            nav
                img(src="imgs/LOGO.png", alt="狸小路 LOGO" class="logo")
                div(class="link")
                    a(href="#") 最新消息
                    a(href="#") 產品介紹
                    a(href="#") 聯絡我們